@model IEnumerable<Practica20250311.AppWebMVC.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Buscar productos</h1>
<form asp-action="Index">
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label class="control-label"></label>
                <input type="text" name="nombre" class="form-control" />
            </div>
        </div>
    </div>
   <div class="row">
       <div class="col-12">
            <input type="submit" value="Buscar" class="btn btn-primary" />
       </div>
   </div>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="datos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script>
       // $('#datos').pagination({ total: 2000, pageSize: 10 });
    </script>
}
